extends ../layout

block content
	h1= title
	p Welcome to the control panel. From here you can manage users and their actions.
	ul
		li
			a(href="/admin/users/list") Users
		li
			a(href="/admin/groups/list") Groups
		li
			a(href="/admin/schedules/list") Schedules
		li
			a(href="/admin/pledges/list") Pledges
		li
			a(href="/admin/fulfilments/list") Fulfilments
	hr
	button#btnAnalysis.btn.btn-primary(onClick="location.href=\"/admin/analysis/\"")
			i.fa.fa-bar-chart-o
			| &nbsp; Analysis