extends ../layout

block content
    h1= title
    a(href="#{keys.route}/new") New
    ul
        each obj, i in objects
            li
                a(href="#{keys.route}/view/#{obj[keys.link.id]}")= obj[keys.link.text]