extends ../layout

block content
    h1= title
    ul
        each obj, i in objects
            li
                a(href="#{keys.route}/view/#{obj[keys.link.id]}")= obj[keys.link.text]
    hr
    button#btnNew.btn.btn-success(type="button", onclick="window.location='#{keys.route}/new'")
        i.fa.fa-plus
        | &nbsp; Create