extends ../../layout

block content
	script(src='/javascripts/ui/generic.js')
	script(src='/javascripts/admin/pledges.js')
	h1= title
	form#formAddPledge(name="addpledge",role="form",method="post",action="/api/pledges/new")
		.form-group
			select#inputUsername.form-control(name="username")
				for user in users
					option #{user.username}
		.form-group
			select#inputSchedule.form-control(name="schedule")
				for sched in schedules
					option #{sched._id}
		.form-group
			button#btnSubmit.btn.btn-success(type="button", onclick="add()")
				i.fa.fa-plus
				| &nbsp; Create