extends ../layout

block content
	h1= title
	p Log a #{dictionary.action.noun.singular} session you have already completed.
	hr
	script(src='/javascripts/ui/generic.js')
	script(src='/javascripts/ui/datepicker.js')
	script(src='/javascripts/ui/fulfilments.js')
	form#formLog(name="log",role="form",method="post",action="/api/fulfilments/new")
		p#message.hidden
		.row
			.form-group.col-xs-6
				input#inputStartDate.form-control(type="text", placeholder="Start date", name="start_date")
			.form-group.col-xs-6
				input#inputStartTime.form-control(type="text", placeholder="Start time", name="start_time")
		.row
			.form-group.col-xs-6
				input#inputEndDate.form-control(type="text", placeholder="End date", name="end_date")
			.form-group.col-xs-6
				input#inputEndTime.form-control(type="text", placeholder="End time", name="end_time")
		.form-group.hidden
			input#inputUsername.hidden(name="username", value="#{user.username}")
		.form-group
			button#btnSubmit.btn.btn-success(type="button", onclick="add('/#{dictionary.action.noun.plural}')") Create
			&nbsp;
			button#btnCancel.btn.btn-danger(type="button", onclick="window.history.back()") Cancel