extends layout

block content
	h1.
		Error 500
	h3.
		Something went wrong. We're trying to fix this as quickly as possible.
	p
		| Please go 
		a(href='#', onclick='window.history.back();') back
		|  and try again.