extends layout

block content
	script(src='/javascripts/admin/pledges/new.js')
	h1= title
	form#formAddPledge(name="addpledge", method="post", action="/admin/pledges/new", onsubmit="validate()")
		select#inputUsername(name="username")
			for user in users
				option #{user.username}
		select#inputSchedule(name="schedule")
			for sched in schedules
				option #{sched._id}
		button#btnSubmit(type="submit") Create