extends layout

block content
	script(src='/javascripts/admin/schedules/new.js')
	h1= title
	form#formAddSchedule(name="addschedule", method="post", action="/admin/schedules/new", onsubmit="validate()")
		input#inputTitle(type="text", placeholder="Title", name="title")
		input#inputStartTime(type="text", placeholder="Start Time", name="start_time")
		input#inputEndTime(type="text", placeholder="End Time", name="end_time")
		textarea#inputDescription(placeholder="Optional description about the event", name="description")
		select#inputOwner(name="owner")
			for user in users
				option #{user.username}
		button#btnSubmit(type="submit") Create