extends layout

block content
	script(src='/javascripts/ui/generic.js')
	script(src='/javascripts/ui/authenticate.js')
	h1= title
	p#message.hidden Authentication status
	form#formAuthenticate(name="authenticate",role="form",method="post",action="/api/authenticate")
		.form-group
			input#inputUsername.form-control(type="text", placeholder="Username", name="username")
		.form-group
			input#inputPassword.form-control(type="password", placeholder="Password", name="password")
		.form-group
			button#btnAuthenticate.btn.btn-success(type="button", onclick="auth()")
				i.fa.fa-sign-in
				| &nbsp; Sign in

	script.
		$(document).ready(function(){

			// Retrieve the next URL
			nextUrl = $.urlParam('r') || defaultNextUrl;

			// Create a temporary a element to decode URI
			var l = document.createElement("a");
			l.href = nextUrl;

			// Remove any hosts other than this one
			var testStr = l.port ? (l.hostname + ':' + l.port) : l.hostname;
			if (testStr !== location.host) {
				nextUrl = defaultNextUrl;
			}

			// Remove any protocol other than http(s)
			if (l.protocol !== "http:" && l.protocol !== "https:") {
				nextUrl = defaultNextUrl;
			}

			// Remove any programming characters
			nextUrl = nextUrl.replace(/[!'{}()*;]/g, '*');
		});

		$(document).keypress(function(e){
			// Capture enter event
			var keyCode = e.which || e.keyCode || 0;
			if (keyCode == 13){
				e.preventDefault();
				auth();
				return false;
			}
		});