extends layout

block content
	script(src='/javascripts/ui/generic.js')
	script(src='/javascripts/ui/authenticate.js')
	h1= title
	p#message.hidden Authentication status
	form#formAuthenticate(name="authenticate",role="form",method="post",action="/api/authenticate")
		.form-group
			input#inputUsername.form-control(type="text", placeholder="Username", name="username")
		.form-group
			input#inputPassword.form-control(type="password", placeholder="Password", name="password")
		.form-group
			button#btnAuthenticate.btn.btn-success(type="button", onclick="auth()") Sign in
