extends layout

block content
	script(src='/javascripts/ui/generic.js')
	script(src='/javascripts/ui/end.js')
	h1= title
	p Clicking here will end your session. Are you sure you want to sign out?
	p#message.hidden
	hr
	form#formAuthenticate(name="authenticate",role="form",method="post",action="/api/authenticate")
		.form-group
			button#btnAuthenticate.btn.btn-danger(type="button", onclick="end()")
				i.fa.fa-sign-out
				| &nbsp; Sign out
