footer.text-center
	.footer-below
		.row
			.col-lg-12
				p Copyright &copy; #{organisation} #{new Date().getFullYear().toString()}

// Load remaining JavaScript files
script(src='/javascripts/bootstrap.min.js')