doctype html
html
  head
    title= title

    //
        Stylesheets
        theme.css is a Bootstrap theme and can be replaced.
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/theme.css')
    link(rel='stylesheet', href='/vendor/jt.timepicker/jquery.timepicker.css')
    link(rel='stylesheet', href='/vendor/fullcalendar/fullcalendar.css')
    link(rel='stylesheet', href='/vendor/jquery.cookiebar/jquery.cookiebar.css')

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        
    // Load custom web fonts
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700",rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", rel="stylesheet", type="text/css")

    //
        Other JavaScript is loaded in the footer
        (scroll down)
    script(src='/vendor/jquery/jquery.js')
    script(src='/vendor/jquery-ui/jquery-ui.js')
    script(src='/vendor/jquery.cookie/jquery.cookie.js')
    script(src='/vendor/jt.timepicker/jquery.timepicker.js')
    script(src='/vendor/jquery.cookiebar/jquery.cookiebar.js')
    script(src='/vendor/moment/moment.js')
    script(src='/vendor/fullcalendar/fullcalendar.js')

    if user
        script.
            var user = '#{user.username}';

    script.
        $(document).ready(function(){
            $.cookieBar({
                acceptText: 'OK',
                zindex: '100',
                fixed: true,
                bottom: true
            });
        });

    // Meta tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="author", content="#{author}")
  body.page-top
    include ./header.jade
    
    // The portfolio ID is theme-specific. It may need changing if you replace the stylesheet.
    section#portfolio
        .container
            noscript
                p.text-danger You need JavaScript enabled to use this website.
            block content
    
    include ./footer.jade