extends ../layout

block content
	h1 #{dictionary.schedule.noun}s
	script(src='/javascripts/ui/generic.js')
	script(src='/javascripts/ui/schedules-get.js')
	p These are your #{dictionary.schedule.noun}s.
	hr
	#calendar
