body {
  padding-top: 50px;
}

.vdivide > [class*='col-']:before {
	background: #000;
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	width: 1px;
	top: 0;
}

.vdivide > [class*='col-']:first-child:before {
 	display: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.dotted { 
	border-bottom: 1px black dotted;
}

.more-info {
	display: inline;
    position: relative;
}

.more-info:hover {
	cursor: pointer;
}

.more-info:hover:after {
	background: #333;
    background: rgba(0,0,0,.9);
    border-radius: 5px;
    color: #fff;
    content: attr(data-text);
    left: 20%;
    padding: 5px 15px;
    font-size: small;
    position: absolute;
    z-index: 99998 !important;
}

hr {
	width: 100%;
}

.feed-item header {
	background: none !important;
}

#noscript-warning {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 30%;
	background-color: rgba(0,0,0,.7);
	position: fixed;
	z-index: 99998 !important;
}

#noscript-warning-box {
	border-radius: 0.5em;
	box-shadow: 0.1em 0.1em 0.05em rgba(0,0,0,.4);
	margin: auto auto;
	text-align: left;
	width: 50%;
	padding: 1em;
}

#noscript-warning-box #text {
	padding: 1em;
}
