.vdivide > [class*='col-']:before {
	background: #fff;
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	width: 1px;
	top: 0;
}

.vdivide > [class*='col-']:first-child:before {
 	display: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.more-info {
	display: inline;
    position: relative;
	border-bottom: 1px black dotted;
}

.more-info:hover {
	cursor: pointer;
}

.more-info:hover:after {
	background: #333;
    background: rgba(0,0,0,.9);
    border-radius: 5px;
    color: #fff;
    content: attr(data-text);
    left: 20%;
    padding: 5px 15px;
    font-size: small;
    position: absolute;
    z-index: 99998 !important;
}

hr {
	width: 100%;
}

.feed-item header {
	background: none !important;
}