.vdivide > [class*='col-']:before {
	background: #fff;
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	width: 1px;
	top: 0;
}

.vdivide > [class*='col-']:first-child:before {
  display: none;
}
