extends ../../layout

block content

	h1= title
	p Select a group to view.

	.form-group
		select#inputGroup.form-control(name="group", onfocus="this.selectedIndex = -1;")
			for group in groups
				option(value="#{group.name}") #{group.name}
			option(value="") Ungrouped

	hr

	button#btnBack.btn.btn-primary(onClick="location.href=\"/admin/analysis/\"")
		i.fa.fa-arrow-circle-left
		| &nbsp; Overview

	| &nbsp;

	button#btnView.btn.btn-success
		i.fa.fa-arrow-circle-right
		| &nbsp; View

	script.
		$(function() {
			$('#btnView').on('click', function() {
				var group = $('#inputGroup').val();
				location.href = '/admin/analysis/group/' + group;
			});
		});