extends ../../layout

block content
	script(src='/javascripts/admin/generic.js')
	script(src='/javascripts/admin/groups.js')
	h1= title
	form#formAddGroup(name="addgroup",method="post",action="/api/groups/new")
		input#inputGroupName(type="text", placeholder="Name", name="name")
		textarea#inputGroupDescription(placeholder="Optional description about the group", name="description")
		button#btnSubmit(type="button", onclick="add()") Create