extends ../../layout

block content
	script(src='/javascripts/admin/generic.js')
	script(src='/javascripts/admin/groups.js')
	h1= title
	form#formAddGroup(name="addgroup",role="form",method="post",action="/api/groups/new")
		.form-group
			input#inputGroupName.form-control(type="text", placeholder="Name", name="name")
		.form-group
			textarea#inputGroupDescription.form-control(placeholder="Optional description about the group", name="description")
		.form-group
			button#btnSubmit.btn.btn-success(type="button", onclick="add()")
				i.fa.fa-plus
				| &nbsp; Create