extends ../../layout

block content
	script(src='/javascripts/admin/generic.js')
	script(src='/javascripts/admin/groups.js')
	h1.
		Details for #{group.name}
	p#groupId= group._id
	form#formAddGroup(name="addgroup",role="form",method="post",action="/api/groups/update")
		.form-group
			input#inputGroupName.form-control(type="text", placeholder="Name", name="name", value="#{group.name}")
		.form-group
			textarea#inputGroupDescription.form-control(placeholder="No description was given.", name="description")
				| #{group.description}
		.form-group
			button#btnUpdate.btn.btn-success(type="button", onclick="update();")
				i.fa.fa-save
				| &nbsp; Save
			&nbsp;
			button#btnDelete.btn.btn-danger(type="button", onclick="del();")
				i.fa.fa-remove
				| &nbsp; Delete