extends ../../layout

block content
    script(src='/javascripts/ui/generic.js')
    script(src='/javascripts/admin/users.js')
    h1= title
    form#formAddUser(name="adduser",role="form",method="post",action="/api/users/new")
        .form-group
            input#inputUserName.form-control(type="text", placeholder="Username", name="username", title="Username")
        .form-group
            input#inputUserPass.form-control(type="password", placeholder="Password", name="userpass", title="Password")
            input#inputUserPassGen.form-control.hidden(type="text", placeholder="Password", name="userpass", title="Password")
        .form-group
            each group, i in groups
                label= group.name
                    input.form-control(type='checkbox', checked=false, name="usergroups", value="#{group.name}")
                | &nbsp; &nbsp; &nbsp;
        .form-group
            button#btnSubmit.btn.btn-success(type="button", onclick="add()", title="Create a new user")
                i.fa.fa-plus
                | &nbsp; Create
            | &nbsp;
            button#btnGenerate.btn.btn-warning(type="button", onclick="gen()", title="Generate user details")
                i.fa.fa-refresh
                | &nbsp; Generate