extends ../layout

block content
	.container
		.col-lg-12
			h1= title

			p This page details the policy of #{name} ("this website", "us", "we") regarding the collection, storage and use of personal and usage data of this website. By using this website you agreeing to the collection, storage and use of personal and usage data in accordance to this policy. This policy may be modified at any point, at our sole discretion, without notification to website users. Any modifications to this policy will become effective immediately after posting it to this page.

			p This website does not personal and personally identifying information about its users.

			p
				| This website stores cookies in the browsers of its users to enable personalisation and allow users to access account-specific areas. More information can be found in the 
				a(href="#{pages.views.cookies.href}") Cookie Policy
				| .

			p Any information or data gathered will be stored as securely as possible. Whilst this website strives to ensure this data remains protected we cannot guarantee its absolute safety.

			p This website may include links to third-party websites, identifiable by a different URL or domain name. These websites are not operated by us and we recommend that you review the privacy policy and the terms of service of those websites before using them. We cannot accept responsibility for any third-party website or service.

			p
				| For more information please 
				a(href="#{pages.views.contact.href}") contact us
				| .

			p This policy was last modified on the 29/02/2016.
